# Don't track content of these folders
Backups/Firefox/
Backups/Old/
dev/
.DS_Store
todo.txt
test.sh
Run\ Snippets/
Stage\

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
